#logo {
    display: flex;
    justify-content: center;
    margin: var(--main-margin) 0;

    & img {;
        width: min(580px, calc(100vw - var(--main-margin)));
    }
}

.logo-fadein {
    animation-name: fadein;
    animation-duration: 2500ms;
    animation-delay: 3000ms;
    animation-fill-mode: backwards;
}