#logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    & img {
        width: 80%;
        max-width: 580px;
    }
}

.logo-fadein {
    animation-name: fadein;
    animation-duration: 2500ms;
    animation-delay: 2000ms;
    animation-fill-mode: backwards;
}