@using Stylophonix.Interfaces
@inherits LayoutComponentBase
@inject IAnimationService AnimationService

<a href="/" id="logo" class="@(AnimationService.ShouldAnimate() ? "logo-fadein" : "")">
    <img src="img/photos/stylophonix_logo.png" alt="Stylophonix Logo"/>
</a>

<main> @Body </main>
<NavMenu/>