nav {
    position: fixed;
    bottom: var(--main-margin);
    left: 50%;
    transform: translateX(-50%);
    height: var(--nav-height);
    width: min(calc(100% - var(--main-margin)));
    max-width: 500px;

    @media only screen and (min-width: 500px) {
        width: min(calc(100% - calc(var(--main-margin) * 2)));
    }

    > div {
        display: flex;
        justify-content: space-around;

        transform: translateY(-7px);

        @media only screen and (min-width: 500px) {
            transform: unset;
        }

        & img {
            filter: invert(100%);
            transform: scale(0.8);
        }

        & a {
            display: grid;
            justify-items: center;

            position: relative;
            text-decoration: none;
            cursor: pointer;

            @media only screen and (min-width: 500px) {
                transform: unset;
            }

            > span {
                font-size: 75%;

                @media only screen and (min-width: 500px) {
                    display: none;
                }
            }
        }
    }
}

nav:before {
    box-sizing: border-box;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 140%;
    content: '';
    border-radius: 12px;
    background: var(--blur-background);
    box-shadow: var(--inset-shadow);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

@media only screen and (min-width: 500px) {
    nav:before {
        transform: skew(-20deg);
    }
}

.nav-animate {
    animation-name: nav-fadein;
    animation-duration: 2500ms;
    animation-delay: 2500ms;
    animation-fill-mode: backwards;
}

@keyframes nav-fadein {
    0% {
        transform: translate(-50%, 30%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}