nav {
    --nav-height: 50px;

    position: fixed;
    bottom: calc(var(--nav-height) / 2);
    left: 50%;
    transform: translateX(-50%);
    height: var(--nav-height);
    width: calc(100% - var(--nav-height));
    max-width: 500px;

    display: flex;
    justify-content: space-around;

    & img {
        filter: invert(100%);
        transform: scale(0.8);
    }

    & a {
        position: relative;
        text-decoration: none;
        cursor: pointer;
    }

    & a:nth-of-type(4) img {
        transform: scale(0.675);
    }
}

nav:before {
    box-sizing: border-box;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 140%;
    content: '';
    border-radius: 12px;
    transform: skew(-20deg);
    background: var(--blur-background);
    box-shadow: var(--inset-shadow);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-animate {
    animation-name: nav-fadein;
    animation-duration: 2500ms;
    animation-delay: 2500ms;
    animation-fill-mode: backwards;
}

@keyframes nav-fadein {
    0% {
        transform: translate(-50%, 30%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}