#container {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    cursor: initial;
    user-select: none;
    -webkit-user-select: none;

    z-index: 10;
    position: fixed;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    background: var(--blur-background);
    box-shadow: var(--inset-shadow);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    animation-name: popup-fadein;
    animation-duration: 300ms;
    animation-fill-mode: backwards;

    @media only screen and (min-width: 500px) {
        position: absolute;
    }

    & a, & span:first-of-type {
        padding: 0.8em 1.33em;
    }

    & span {
        cursor: default;
    }

    & span:not(:first-of-type) {
        padding: 0.33em 1.33em;

        @media only screen and (min-width: 500px) {
            padding: 0.8em 1.33em;
        }
    }

    & span:first-of-type {
        font-size: 120%;
        text-align: center;
    }

    & a {
        color: white;
        text-decoration: none;
        transition: 300ms;

        display: flex;
        gap: 12px;
        align-items: center;

        > img {
            max-width: 2.6rem;
            max-height: 2.6rem;

            @media only screen and (min-width: 500px) {
                max-width: 3.4rem;
                max-height: 3.4rem;
            }
        }
    }

    & a:hover {
        background: var(--hover-background);
        transition: 100ms;
    }
}

@keyframes popup-fadein {
    0% {
        pointer-events: none;
        transform: translate(-50%, 10%);
        opacity: 0;
    }
    100% {
        pointer-events: initial;
        transform: translate(-50%, 0);
        opacity: 1;
    }
}