#gig-info {
    display: grid;

    margin: 0 var(--main-margin) var(--main-margin) var(--main-margin);
    text-align: center;

    & span:first-child {
        font-size: 24px;
        font-weight: bold;
    }

    & span:not(:first-child) {
        margin-top: 6px;
        font-size: 18px;
    }
}

#pics, #vids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--main-margin);
    margin: 0 var(--main-margin);
}

#pics {
    margin-bottom: var(--main-margin);
}

img, video {
    align-self: start;

    max-width: calc(100vw - calc(var(--main-margin) * 2));
    max-height: 400px;
}