@page "/Impressum"
<h2>Impressum</h2>
<div>
    Fragen, Kritik, Anfragen und Sonstiges bitte an den Verantwortlichen für Inhalt, Datenschutz und Gestaltung der o. g. Webseite:
</div>
<div>
    Matthes Kersting - Pictoriusweg 2 - D-59394 Nordkirchen - Fon: +49(0)170-8834133 - <a href="mailto:mail@stylophonix.de">E-Mail</a>
</div>

<h2>Disclaimer</h2>
<div>
    Von unseren Webseiten, sowie von deren Unterseiten, Linklisten und Gästebüchern führen zahlreiche Links hinweg auf WEB-Sites, die von anderen Leuten betrieben werden.
    Wir haben keinerlei Einfluss auf die Inhalte jener Seiten.
    Sollte also auf von uns verlinkten Seiten irgendwelche Inhalte auftauchen, an denen irgend jemand in irgendeiner Form Anstoß nimmt, so distanzieren wiruns selbstverständlich von diesen beanstandeten Inhalten.
    Sollten wir innerhalb unserer Seiten irgendwelche Markenschutzrechte verletzen, so geschieht das unabsichtlich und in Unkenntnis des entsprechenden Schutzrechtes.
    In diesem Falle genügt eine einfache <a href="mailto:mail@stylophonix.de">Mail</a> an uns, um das Problem zu beheben.
    Auf keinenFall jedoch werden wir eventuelle Abmahnbescheide und -gebühren unwidersprochen hinnehmen.
</div>

<h2>Copyright</h2>
<div>
    Auf unseren Webseiten sind sehr viele Bilder und Grafiken zu finden.
    Darin steckt sehr viel Herzblut.
    Das Copyright hieran verbleibt in jedem Fall beim Verantwortlichen der Webseiten.
    Sollte jemand dem Wunsche verfallen, hiervon etwas zu verwenden, so wende er sich bitte per <a href="mailto:mail@stylophonix.de">E-Mail</a> an uns.
    Wir befinden uns in Deutschland, und hier gibt es für alles Gesetze und Regelungen, so auch hierfür (§§ 16, 17 UrhG, § 72 UrhG).
    Daran möge sich bitte jeder halten.
    Wer es trotzdem zwanghaft nicht lassen kann, sich Texte, Fotos, Grafiken etc. von unseren Webseiten ohne Zustimmung des Verantwortlichen "auszuleihen", muss mit erheblichen Kosten rechnen,
    welche durch die Abmahnung mittels Rechtsanwalts entstehen.
</div>

<h2>Datenschutzerklärung</h2>
<div>
    <h4>Ihre Betroffenenrechte:</h4>
    Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:
    <ul>
        <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
        <li>Berichtigung unrichtiger personenbezogener Daten,</li>
        <li>Löschung Ihrer bei uns gespeicherten Daten, Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen,</li>
        <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und Datenübertragbarkeit,</li>
        <li>sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben,</li>
        <li>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen</li>
    </ul>
    Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden.
    Ihre zuständige Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes, Ihrer Arbeit oder der mutmaßlichen Verletzung.
    Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter: https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.
    Zwecke der Datenverarbeitung durch die verantwortliche Stelle und Dritte:
    Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten Zwecken.
    Eine übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht statt.
    Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:
    <ul>
        <li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben</li>
        <li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen erforderlich ist</li>
        <li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist</li>
        <li>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme besteht</li>
        <li>dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben</li>
    </ul>
    <h4>Löschung bzw. Sperrung der Daten:</h4>
    Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit.
    Wir speichern Ihre personenbezogenen Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke erforderlich ist
    oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen.
    Nach Fortfall des jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.

    <h4>Änderung unserer Datenschutzbestimmungen:</h4>
    Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht
    oder um änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services.
    Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.

    <h4>Fragen an den Datenschutzbeauftragten:</h4>
    Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für den Datenschutz oben genannte verantwortliche Person in unserer Organisation.
</div>