@page "/"
@using Stylophonix.Data

<div id="band-photo"></div>

<div id="social">
    <span>Follow us on:</span>
    <div id="social-links">
        @foreach (var socialOption in _socialOptions)
        {
            <a href="@socialOption.DestinationUrl" id="social-link-@socialOption.Text">
                <img src="@socialOption.IconUrl" alt="@socialOption.Text"/>
                @socialOption.Text
            </a>
        }
    </div>
</div>

@code
{
    private readonly List<NavOption> _socialOptions = new()
    {
        new NavOption("https://www.facebook.com/stylophonix", "img/icons/f_logo_RGB-White_1024.svg", "Facebook"),
        new NavOption("https://www.twitter.com/stylophonix1", "img/icons/x-logo.svg", "Twitter"),
        new NavOption("https://www.instagram.com/stylophonix", "img/icons/Instagram_Glyph_White.svg", "Instagram"),
        new NavOption("https://www.reverbnation.com/stylophonix", "img/icons/reverbnation.svg", "Reverbnation"),
        new NavOption("https://www.soundcloud.com/stylophonix", "img/icons/SoundCloud_-_Logo.svg", "SoundCloud")
    };
}