@page "/lineup"
@using Stylophonix.Interfaces
@inject IDataService DataService

<PageTitle>Stylophonix | Lineup</PageTitle>

<h1>Lineup</h1>

<div id="members">
    @foreach (var member in DataService.GetMembers())
    {
        <div class="member">
            <img src="@member.PhotoUrl" alt="@member.Name"/>
            <span>@member.Name</span>
            <span>
                @string.Join(" • ", member.Instruments)
            </span>
        </div>
    }
</div>

@code {

}