@page "/news"

<img src="img/photos/btr5.jpg" alt="Bandfoto Boom the Room"/>

<span>
    STYLOPHONIX MACHEN ERST EINMAL ALS DUO WEITER.<br/>
    DITZE UND MATTHES WERDEN IHR BESTES GEBEN.<br/>
    SCHÜRMI BLEIBT NATÜRLICH IN DER BAND.<br/>
    WIR SEHEN UNS.
</span>