@page "/news"
@using Stylophonix.Interfaces
@inject IDataService DataService

<PageTitle>Stylophonix | News</PageTitle>

<h1>News</h1>

@foreach (var newsImage in DataService.GetNewsImages())
{
    <img src="@newsImage" alt="@newsImage"/>
}

@foreach (var newsParagraph in DataService.GetNewsParagraphs())
{
    <span>
        @foreach (var line in newsParagraph)
        {
            @((MarkupString)line)<br/>
        }
    </span>
}